.signupform{
    text-align:center;
    border: 2px solid pink;
    padding: 10px;
    width: 30%;
    height:fit-content;
    margin: 20px 120px;
    background-color: rgb(236, 240, 102);
}

mat-form-field {
    padding: 10px;
    width: 90%;
}
mat-radio-group{
    width: 80%;
    text-align: left;
}