
<div class="btns">
<button mat-raised-button color="warn"  (click)="back()">Back</button>
<button mat-raised-button color="warn" routerLink="/owner/hotelRegistration">Hotel Registration</button>
<button mat-raised-button color="warn"  (click)="viewMyHotelList()">View My Hotel list</button>
<button mat-raised-button color="warn" (click)="viewAllHotelList()">View All Hotel List</button>
</div>

<div *ngIf="this.hotelDetailsByOwner">
<ul *ngFor="let hotelData of this.hotelDetailsByOwner">
    <li>{{hotelData.ownerName}}</li>
    <li>{{hotelData.hotelName}}</li>
    <li>{{hotelData.hotelAddress}}</li>
    <li>{{hotelData.hotelMobile}}</li>
    <li>{{hotelData.hotelMenu}}</li>
    <li>{{hotelData.roomAvailable}}</li>
    
</ul>
</div>
