
<div class="btns">
<button mat-raised-button color="warn"  (click)="back()">Back</button>
<button mat-raised-button color="warn" routerLink="/owner/hotelRegistration">Hotel Registration</button>
<button mat-raised-button color="warn"  (click)="viewMyHotelList()">View My Hotel list</button>
<button mat-raised-button color="warn" (click)="viewAllHotelList()">View All Hotel List</button>
</div>

<!-- <div >
<ul >
    <li>{{hotelData.ownerName}}</li>
    <li>{{hotelData.hotelName}}</li>
    <li>{{hotelData.hotelAddress}}</li>
    <li>{{hotelData.hotelMobile}}</li>
    <li>{{hotelData.hotelMenu}}</li>
    <li>{{hotelData.roomAvailable}}</li>
    
</ul>
</div> -->

<br>
<br>
<div *ngIf = "this.hotelDetailsByOwner.length !=0">
    <div class="serach-bar-container">
        <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [(ngModel)]="inputBoxValue">
        </mat-form-field>
    </div>

    <div class="table-container">

        <table>
            <tr>
                <th *ngFor = "let heading of tableHeadings">{{heading}}</th>
                
            </tr>
            <tr  *ngFor = "let hotelData of this.hotelDetailsByOwner| searchtext:inputBoxValue">
                <td>{{hotelData.hotelName}}</td>
                <td>{{hotelData.ownerName}}</td>
                <td>{{hotelData.hotelContactNo}}</td>
                <td>{{hotelData.hotelAddress}}</td>
                <td>{{hotelData.hotelEmail}}</td>
                <td>{{hotelData.totalRooms}}</td>
                <td>{{hotelData.speciality}}</td>
                <td > <i class="material-icons" (click)="delete(hotelData.id)">delete</i></td>
                <td> <i class="material-icons" (click)="edit(hotelData.id)">edit</i></td>
            </tr>
        </table>
    </div>
</div>
