
<div class="homepage">
<nav>
    <button mat-raised-button> Grand Bharat Hotel Welcome's You.. </button>
    <button mat-raised-button color="warn" (click)="journey('admin')">Admin</button>
    <button mat-raised-button color="accent" (click)="journey('owner')">Owner</button>
    <button mat-raised-button color="primary" (click)="journey('user')">User</button>
    
</nav>

<!-- <mat-selection-list>
    <mat-list-option >
      <mat-checkbox [(ngModel)]="city.selected">{{ city.city }}</mat-checkbox>
    </mat-list-option>
  </mat-selection-list>
  <button (click)="city()" >submit</button> -->
</div>
